h2{
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 200px;
}

.kotak1, .kotak2, .kotak3{
    background-color: azure;
    margin-left: auto;
    margin-right: auto;
}

.daftar{
    height: 25px;
    padding: 1px 0;
    background-color:white;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tombol{
    width: 100%;
    height: 40px;
    padding: 5px 0;
    border: none;
    background-color:aquamarine;
    font-size: 18px;
    color: black;
    border-radius: 20px;
}

@media screen and (max-width:600px){
    #maincontent{
      width: auto;
      float: none;
    }
    #sidebar{
      width: auto;
      float: none;
    }
  }

@media only screen and (max-width: 400px) {
    body {
        margin: 0;
        padding: 0;
    }
    .container {
        width : 100%;
        padding : 0px;
    }
    .title {
        font-size: 1rem
    }
    tr {
        font-size: 0.7rem
    }

    }

@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
    }
    .container {
        width : 100%;
        padding : 0px;
    }
    .title {
        font-size: 1.2rem
    }
    tr {
        font-size: 0.8rem
    }

  }