body{
    background-color: aquamarine;
}

h1{
    text-align: center;
}

.kotakan{
	background-color: aliceblue;
}

form{
    margin-top: 20px;
}

label{
    margin-bottom: 10px;
}

input[type=text], input[type=email], input[type=date], input[type=number], select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

.badan{
    margin-left: 50px;
    margin-right: 50px;
}


.tombol{
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
    text-decoration: none;
    margin-left: 10px;
}
